

<template>
  <v-layout>

    <!-- Navigation Drawer -->
    <v-navigation-drawer :mini-variant.sync="miniVariant" :clipped="clipped" v-model="drawer" fixed app>

      <!-- Menu -->
      <v-list dense>
        <v-list-tile v-for="(item, i) in items" :to="item.to" :key="i" router exact>
          <v-list-tile-action>
            <v-icon v-html="item.icon" />
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title" />
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
      <!-- Menu -->

    </v-navigation-drawer>
    <!-- Navigation Drawer -->

    <!-- Icons -->
    <v-toolbar :clipped-left="clipped" fixed app>
      <v-toolbar-side-icon @click="drawer = !drawer" />
      <v-btn icon @click.stop="miniVariant = !miniVariant">
        <v-icon v-html="miniVariant ? 'chevron_right' : 'chevron_left'" />
      </v-btn>
      <v-toolbar-title v-text="title" />
      <v-spacer/>
    </v-toolbar>
    <!-- Icons -->

  </v-layout>
</template>

<script>
export default {
  data() {
    return {
      clipped: false,
      drawer: true,
      fixed: false,
      title: "Louisiana Clean Air",
      items: [
        {
          title: "Home",
          icon: "dashboard",
          to: "/"
        },
        {
          title: "Current News",
          icon: "announcement",
          to: "/blog"
        },
        {
          title: "Demo",
          icon: "info",
          to: "/demo"
        },
        {
          title: "Products",
          icon: "view_list",
          to: "/products"
        },
        {
          title: "Book a Demo",
          icon: "schedule",
          to: "/schedule"
        },
        {
          title: "Need Support?",
          icon: "contact_support",
          to: "/support"
        },
        {
          title: "Contact Us",
          icon: "contacts",
          to: "/contact"
        },
        {
          title: "About Us",
          icon: "person",
          to: "/about"
        },
        {
          title: "Submit a Feedback",
          icon: "feedback",
          to: "/feedback"
        }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false
    }
  }
}
</script>
