// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'

.page
  @extend .fade-transition

body
    height 100%
    width 100%
    margin 0
    padding 0

myVideo
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    margin auto
    max-width 100%
    max-height 100%
    -moz-user-select none
    &:focus
        outline-width 0

iframe
    width 100%
    height 1000px
    border 0px
    background-color transparent
