<template>

  <v-layout column justify-center align-center>
    <div id="app">
      <div class="container">
        <my-video :sources="video.sources" :options="video.options" />
      </div>
    </div>
  </v-layout>

</template>

<script>
import myVideo from "vue-video"
export default {
  components: {
    myVideo
  },
  data() {
    return {
      video: {
        sources: [
          {
            src:
              "https://raw.githubusercontent.com/pullmana8/louisiana-clean-air/master/static/vid/slowmo",
            type: "video/mp4"
          }
        ],
        options: {
          autoplay: false,
          volume: 0.6
        }
      }
    }
  }
}
</script>
