

<template>

  <v-layout column justify-center align-center>
    <iframe id="ycbmiframelouisianacleanair" src="https://louisianacleanair.youcanbook.me/?noframe=true&skipHeaderFooter=true" style="width:100%;height:1000px;border:0px;background-color:transparent;" frameborder="0" allowtransparency="true" />
  </v-layout>

</template>

<script>
window.addEventListener &&
  window.addEventListener(
    "message",
    function(event) {
      if (event.origin === "https://louisianacleanair.youcanbook.me") {
        document.getElementById("ycbmiframelouisianacleanair").style.height =
          event.data + "px"
      }
    },
    false
  )
</script>
